<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jws.fairies">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.LOCATION_HARDWARE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="발음요정들"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".firstMenu">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".firstMenu2" />
        <activity android:name=".dramaPage" />
        <activity android:name=".dramaPage2" />
        <activity android:name=".dramaPage3" />
        <activity android:name=".dramaPage4" />
        <activity android:name=".moviePage" />
        <activity android:name=".moviePage2" />
        <activity android:name=".moviePage3" />
        <activity android:name=".moviePage4" />
        <activity android:name=".searchPage" />
        <activity android:name=".educationPage" />
        <activity android:name=".entertainmentPage" />
        <activity android:name=".entertainmentPage2" />
        <activity android:name=".entertainmentPage3" />
        <activity android:name=".entertainmentPage4" />
        <activity android:name=".movieList" />
        <activity android:name=".dramaList" />
        <activity android:name=".entertainmentList" />
        <activity android:name=".helpPage" />
    </application>

</manifest>